.cards__button-like{
    width: 22px;
    height: 19px;
    background: url(../../../images/like.svg);
    padding: 0;
    
    border-width: 0;
    cursor: pointer;
}
.cards__button-like:hover{
    opacity: 0.5;
}
.cards__button-like_active{
    background: url(../../../images/like-black.svg);
}

