.footer{
    padding-top: 66px;
    margin: 0 auto;
    max-width: 880px;
    padding-bottom: 60px;
}
@media screen and (max-width: 880px) {
    .footer {
        max-width: 580px;
    }
}
@media screen and (max-width: 580px) {
    .footer {
        max-width: 282px;
        padding-top: 48px;
        padding-bottom: 36px;
    }
}