.sign__input{
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    display: block;
    border: none;
    border-bottom: 2px solid #ccc;
    width: 100%;
    margin: 50px auto 0;
    outline: none;
    padding: 0 0 13px;
    background-color: #000;
}