@import './vendor/normalize.css';
@import './vendor/fonts/fonts.css';
@import './blocks/cards/cards.css';
@import './blocks/cards/__info/cards__info.css';
@import './blocks/cards/__item/cards__item.css';
@import './blocks/cards/__button-like/cards__button-like.css';
@import './blocks/cards/__button-delete/cards__button-delete.css';
@import './blocks/cards/__photo/cards__photo.css';
@import './blocks/cards/__text/cards__text.css';
@import './blocks/footer/footer.css';
@import './blocks/footer/__text/footer__text.css';
@import './blocks/header/header.css';
@import './blocks/header/__logo/header__logo.css';
@import './blocks/page/page.css';
@import './blocks/profile/profile.css';
@import './blocks/profile/__button-add/profile__button-add.css';
@import './blocks/profile/__button-edit/profile__button-edit.css';
@import './blocks/profile/__info/profile__info.css';
@import './blocks/profile/__subtitle/profile__subtitle.css';
@import './blocks/profile/__title/profile__title.css';
@import './blocks/profile/__plus/profile__plus.css';
@import './blocks/profile/__text/profile__text.css';
@import './blocks/profile/__avatar/profile__avatar.css';
@import './blocks/root/root.css';
@import './blocks/popup/popup.css';
@import './blocks/popup/__content/popup__content.css';
@import './blocks/popup/__overlay/popup__overlay.css';
@import './blocks/popup/__close-icon/popup__close-icon.css';
@import './blocks/popup/_open/popup_open.css';
@import './blocks/content/content.css';
@import './blocks/form/__button/form__button.css';
@import './blocks/form/__handlers/form__handlers.css';
@import './blocks/form/__heading/form__heading.css';
@import './blocks/form/__input-container/form__input-container.css';
@import './blocks/form/__item/form__item.css';
@import './blocks/form/form.css';
@import './blocks/profile/__button-pict/profile__button-pict.css';
@import './blocks/cards/__like-pic/cards__like-pic.css';
@import './blocks/popup/__close-pic/popup__close-pic.css';
@import './blocks/list/list.css';
@import './blocks/popup/__content-profile/popup__content-profil.css';
@import './blocks/popup/__text/popup__text.css';
@import './blocks/popup/__photo/popup__photo.css';
@import './blocks/popup/__overlay-photo/popup__overlay-photo.css';
@import './blocks/form/__span/_input/form__span_input_error.css';
@import './blocks/form/__button/_disabled/form__button_disabled.css';
@import './blocks/form/__item/_input/form__item_input_error.css';
@import './blocks/cards/__number-likes/cards__number-likes.css';
@import './blocks/profile/__avatar-container/profile__avatar-container.css';
@import './blocks/profile/__edit-avatar/profile__edit-avatar.css'